*{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin:auto;
}
.head {
    background-color: rgb(4, 4, 158);
    padding-left: 15px;
    padding-right: 15px;
    
    
  }

  .hello{
      
    padding-left: 15px;
    padding-right: 15px;

  }
  .hii{
      /* background-image: url("back.jpg");
      background-size: auto;
      background-repeat: no-repeat; */
    padding-left: 15px;
    padding-right: 15px;
    margin:0 15px;
  }
.navi{
    display: flex;
    justify-content: center;
}
  
  #ticket{
      color:white;
      background-color: rgb(4, 4, 158);
      border: 2px solid rgb(4, 4, 158);
  border-radius: 5px;
  font-size: larger;
  }
  .jugnu{
    background-color: rgb(4, 4, 158);
    border: 2px solid rgb(4, 4, 158);
    color: white;
    border-radius: 15px;
  }

  .bus{
      text-align: center;
      color: white;
  }

  .hiace{
      /* position: absolute; */
  }
  .third{
    text-align: center;
    background-color: rgb(226, 226, 226);
    padding-top: 20px;
  }
  #a2 {
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
   
  }

  .choose{
    font-size: large;
  }
  #card1,
  #card2,
#card3 {
  border: none;
  box-shadow: 0px 0px 20px 20px rgba(241, 245, 247, 0.555);
  border-radius: 25px;
}
#g2{
    color: black;
}
.icona{
  color:rgb(4, 4, 158);
}

#eren {
    padding: 0 40px 0 40px;
    font-size: 40px;
  }


  
/*  */

.img-cars-container img
{
    
        margin-left: auto;
        margin-right: auto;
        display: block;
        height: 80px;
        width: 80px;
      
}

#carasoul-container
{
    background-color: white;
    box-shadow: 5px 5px 5px  #888888;
    /* display: none; */
    padding: 45px 25px;
    border-radius: 10px;
    
}



#footer
{
    background-color: rgb(23, 3, 59);
    color: #fff;
}
#footer ul
{
    text-decoration: none;
    margin:0;
    padding:0;
}
#footer ul li
{
list-style: none;
text-decoration: none;
margin: 5px 0px;
padding: 0px;
/* display: inline-block; */
/* background-color: aqua; */
}

#footer a{
    text-decoration: none;
    color: #fff;
}


/* ------------table css */

.inputf
{
  border-radius: 10px;
  border: 1px solid grey;
}
#form-container
{
  border: 0px solid grey;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
